
#Connections
PORT=something you like
MONGO_URI=your mongo url

#JWT Secter Key
JWT_SECRET=your jwt secret 

#Cloudinary Full Details
CLOUDINARY_CLOUD_NAME=your cloud name
CLOUDINARY_API_KEY=your api key
CLOUDINARY_API_SECRET=your api secret 

#Email Verification
EMAIL_USER=your email
EMAIL_PASS=your pass

#Payment Integration
RAZORPAY_KEY_ID=your key id
RAZORPAY_KEY_SECRET=your key secret